/* ----------------------------------- */
/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

img {
  vertical-align: middle;
  border: 0;
}
a {
  text-decoration: none;
  color: #0080ff;
}
/* ----------------------------------- */
body {
  position: absolute;
  left: 0;
  margin: 0;
  text-align: left;
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  background-color: #ffffff;
  color: #555555;
  width: 100%;
}
/* ----------------------------------- */
div#header {
  border-bottom: 1px dashed silver;
  height: 50px;
}
div#header div#logo {
  float: left;
}
div#header div#google {
  float: right;
  vertical-align: top;
}
div#header div#search {
  float: right;
  padding-top: 4px;
}
div#header span#services a {
  color: blue;
  text-decoration: none;
  padding: 0 5px 2px 5px;
}
div#header span#services a:hover {
  color: blue;
  background-color: yellow;
}
/* ----------------------------------- */
div#top {
  clear: both;
  text-align: right;
  border-bottom: 1px solid silver;
  padding: 1px 10px 3px 10px;
}
div#top div#user_ctl a {
  border-left: 1px solid #555555;
  padding-left: 7px;
  margin-left: 2px;
}
div#top div#menu_btn {
  position: absolute;
  left: 10px;
}
div#top div#menu_btn a {
  margin-right: 2px;
  padding: 0 1px 2px 1px;
}
div#top div#menu_btn a:hover {
  background-color: pink;
}
/* ----------------------------------- */
div#statusbar {
  clear: both;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 2px 0 2px 10px;
  font-size: 10px;
  background-color: #f3f3f3
}
div#statusbar span {
  margin: 0 3px 0 2px;
  vertical-align: middle;
}
/* ----------------------------------- */
/* ----------------------------------- */
/* flashで表示するメッセージ */
* html div.flash_message {
  height: 1%;
}
div.notice {
  border: 2px solid limegreen;
  margin: 3px 0 1em 0;
  font-size: 12px;
  background-color: palegreen;
}
div.warning {
  border: 2px solid orange;
  margin: 3px 0 1em 0;
  font-size: 12px;
  background-color: yellow;
}
div.error {
  border: 2px solid red;
  margin: 3px 0 1em 0;
  font-size: 12px;
  background-color: pink;
}
div.notice span, div.warning span, div.error span {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 10px;
}
/* ----------------------------------- */
/* エラーメッセージ */
div.errorExplanation {
  margin: 3px 0px 1em 0px;
  padding: 0px;
  border: 2px solid red;
  /* IE6でスクロールしないと背景色が表示されないバグ対応のため */
  _height:1%;
}
div.errorExplanation h2 {
  border-bottom: 1px solid red;
  background-color: pink;
  margin: 0;
  padding: 1px;
}
div.errorExplanation p {
  margin: 5px 0px 1px 0px;
  padding: 1px;
  text-align: left;
}
div.errorExplanation ul {
  list-style-type: square;
  margin-left: 20px;
  padding: 3px 0 0 10px;
}
div.errorExplanation li {
  line-height: 1.3;
  margin: 0;
  padding: 1px 2px 0px 2px;
}
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
  /* IE6でスクロールしないと背景色が表示されないバグ対応のため */
  _height:1%;
}
/* ----------------------------------- */
/* hiki_style */
.hiki_style * {
}
.hiki_style p {
  margin: 10px 0;
  line-height: 1.2;
}
.hiki_style hr {
  margin: 3px;
}
.hiki_style h1 {
  border: 1px solid silver;
  background-color: #f0f0f0;
  margin-top: 0.8em;
}
.hiki_style h2 {
  border-left: 10px solid silver;
  border-bottom: 1px solid silver;
  margin-top: 0.8em;
  padding-left: 3px;
}
.hiki_style h3 {
  border-left: 5px solid silver;
  border-bottom: 1px dashed silver;
  margin-top: 0.8em;
  padding-left: 3px;
}
.hiki_style h4 {
  border-left: 2px solid silver;
  border-bottom: 1px dotted silver;
  margin-top: 0.8em;
  padding-left: 3px;
}
.hiki_style h5 {
  border-bottom: 1px dotted silver;
  margin-top: 0.8em;
}
.hiki_style ul {
  list-style-type: disc;
  padding-left: 25px;
}
.hiki_style ul li {
}
.hiki_style ol {
  list-style-type: decimal;
  padding-left: 25px;
}
.hiki_style pre {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: pre-wrap;      /* CSS3 */
  word-wrap: break-word;      /* IE 5.5+ */
  background-color: #f7f7ff;
  margin-left: 5px;
  border: 1px dashed silver;
  padding: 5px;
}
.hiki_style blockquote {
  background-color: #fff7f7;
  margin: 2px 2px 2px 10px;
  border: 1px dashed silver;
  padding: 2px 2px 2px 5px;
}
.hiki_style big {
  font-size: 30px;
  font-weight: bold;
}
/* ----------------------------------- */
/* rich_style */
.rich_style blockquote {
  margin: 5px 10px 5px 40px;
}
.rich_style ul {
  padding-left: 25px;
}
.rich_style ol {
  padding-left: 25px;
}
