- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents
  - div_for(@page) do
    %h1&= @page.display_name
    .rendered~ render_page_content(@page)

    .clear

