div#content .contents div#user_header{
  height: 60px; }

div#content .contents div#user_header div#user_title {
  float: left; }

div#content .contents div#user_header div#user_search {
  float: right;
  padding-top: 10px; }

table.users-index {
  width: 90%;
  margin-left: 5%;
  font-size: 14px; }
  table.users-index td {
    border-bottom: 1px solid gray; }

table.users-title {
  width: 100%;
  font-size: 14px;}

table.users-title th.title {
  font-size: 16px; }

