- note ||= current_note
= navi_item(_("edit note"), edit_note_path(note), current_path, "note")
= navi_item(_("note pages"), note_pages_path(note), current_path, "note")
= navi_item(_("new page"), new_note_page_path(note), current_path, "note")

