- search_label = _("Search Note")
- val = params[:fulltext] || search_label
-form_tag(notes_path, :method=>"GET") do
  = text_field_tag("fulltext", val, :class=>"labeled-field", :size=>32)
  = submit_tag _('Search')
  = link_to(_("Show all"), notes_path)

:javascript
  jQuery(function(){
    jQuery("div.caption input.labeled-field").labeledTextField(#{{:message => search_label}.to_json});
  });
