- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#content
  .note
    - form_for(@account, :url=>{:controller => 'admin/accounts', :action=>'update'}) do |f|
      =f.error_messages      
      
      %dl
        %dt
          =f.label :login, _('Account|Login')
        %dd
          =f.text_field :login

        %dt
          =f.label :email, _('Account|Email')
        %dd
          =f.text_field :email
        %dt
          =f.label :identity_url, _('Account|Identity url')
        %dd
          =@account.identity_url

      %div
        .field
          = f.submit _("Update")
  
