- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents_container
  .caption
    = render :partial => 'shared/admin/user_body_header', :locals=>{:current_path => edit_admin_account_path(@account.id)}
  .contents
    #updated-note
      %h2= icon_tag('user', "アカウント編集(#{@account.login}さん)")
    .note
      - form_for(@account, :url=>{:controller => 'admin/accounts', :action=>'update'}) do |f|
        =f.error_messages      
        
        %dl
          %dt
            =f.label :login, _('Account|Login')
          %dd
            =f.text_field :login

          %dt
            =f.label :email, _('Account|Email')
          %dd
            =f.text_field :email

          %dt
            =f.label :identity_url, _('Account|Identity url')
          %dd
            =f.text_field :identity_url

        %div
          .field
            = f.submit _("Update")
  
