!side_width = 200px
!content_margin = 210px
!modern_page_font_size = 16px
!almost_fullwidth = 98%
!small_font_size = 10px
!wizard_steps = 8
!wizard_width = 950

body
  :font-size 13px
  :font-family Verdana,Arial,sans-serif
  :width 100%
  :padding-bottom 1em

  *
    :margin auto auto

  div#top
    ul
      :float right
      li
        :margin auto 5px

  h1, h2, h3
    :margin 0.5em 10px

  pre
    :font-family monospace
    :background #CCFFFF
    :padding 10px
    :border 1px dashed gray

  #current-note
    :position absolute
    :top 20px
    :left 20px
    span
      :font-size 0.8em
    span.title
      :font-size 24px

  a
    :color #0080DD
    :text-decoration none

  #global_navi
    :background-image url(./../images/skip/gradient.png)

  select
    :border 1px solid silver
#current-note .note-navi, .page-header .page-navi
  :position absolute
  :left 300px
  :z-index 1
  :background white
  :border 2px solid gray
  :display none

  ul
    :font-size = !small_font_size
    :font-weight normal
    :list-style none
    :margin 0
    :padding 0

    li
      :margin 3px
      :border-bottom 1px solid silver
    li:last-child
      :border-bottom 0

#logo
  :position absolute
  :margin 3px 0 0 5px
  :z-index 1
  p
    :margin auto 3px auto 3px
    :font-size  20px

#services
  :float right
  :border none
  :background-color #dfecf5
  :margin 0
  :padding 0 0 2px 5px
  :font-size 12px
  a
    :color blue
    :text-decoration none
    :padding 0 5px 2px 5px
  a:hover
    :color blue
    :background-color yellow
  img
    :vertical-align middle

#select_my_note
  :position relative
  :height 1.2em

  ul
    :list-style none
    :position absolute
    :z-index 1
    :right 1em

    li
      :margin auto 5px
      :float left
      :background #ddddff

#side-menu
  :width = side_width
  :float left
  :margin auto 10px auto 5px

  div.menu-item
    :margin-bottom 10px

    ul
      :list-style none
      :margin-left 1em
      :padding 0

      ul.submenu li
        :list-style disc
        :margin 2px 5px auto auto
        :font-size 1em

#content
  :color gray
  :border 0
  #content_for_layout
    :border 0

  .user
    :margin-left = !content_margin

    dt
      :font-size 1.2em
      :border-bottom 1px solid gray
      :margin-left 1em
      :width 40%

    dd
      :font-size 1.5em
      :margin-left 2em
      :margin-bottom 10px

  .memberships
    :margin-left = !content_margin

  .page-header
    :border-style solid
    :border-width 5px 2px 1px 20px
    h1
      :float left
      :margin 3px 0 3px 10px
      span.title
        :font-size = !modern_page_font_size + 8px
      span.labeled
        :font-size = !small_font_size
        :margin auto 3px
      .edit
        input[type=text]
          :font-size = !modern_page_font_size
    div
      span
        :font-size 12px

  .page-content.fullscreen
    :width 100% !important
    :border 0 none
  .page-content
    :width 80%
    :float right
    :padding-left 3px
    :border-left 1px solid silver

#footer
  :text-align center
  :color #A9A9A9
  :overflow hidden
  :width 100%
  :height 50pt
  :position relative
  :border-top silver 1px solid

  .info
    :margin auto
    :padding 5px 200px 0 200px
    :width 50em

    .first
      :border-bottom 1px dashed silver
      :padding-bottom 4px

      ul
        :list-style none
        li
          :float left

    .second
      :padding-top 5px

  div.powerd_by
    :position absolute
    :right 0
    :top 0

.typed-group
  :font-size 1.2em
  :margin-bottom 1em

  table
    :font-size 1.3em
    :margin-top 10px
    :margin-bottom 10px

    tr.odd
      :background #dddddd

    td
      :border 1px solid gray
      :border-right 2px solid gray
      :border-bottom 2px solid gray

  .warn
    :color #ff9999

.history-contents
  :width = !almost_fullwidth
  :margin 1em auto

  .from, .to
    :border 1px solid gray
    :overflow auto
  .from
    :width 49%
  .to
    :width 49%
    :_width 100%

    *
      :margin auto

  .from
    :float left

  .to
    :margin-left 51%

table.diff
  :border 1px solid gray
  :border-collapse collapse
  :width = !almost_fullwidth

  tr.removed
    :background #FFBBBB
  tr.modified
    :background #BBFFBB
  tr.added
    :background #99FF99

  tr
    td
      :border 1px solid #CCCCCC

    th
      :background #DDDDDD
      :border-bottom 1px solid gray

    th.symbol, td.symbol, th.num, td.num
      :font-family monospace
      :font-size = !small_font_size

    th.symbol, td.symbol
      :width 1em
      :text-align center

    th.num, td.num
      :width 20px

    th.num
      :text-align center

    td.num
      :text-align right
      :vertical-align top
      :padding 2px
      :color #555
      :border-right 1px solid #ccc
      :border-bottom 1px solid #ddd

    td.text
      :width 350px
      :font-size 12px

table.histories
  tr
    th.description
      :width 350px
    td.revision
      :width 10em
      :font-size = !small_font_size

ul.label-badges
  :list-style none
  :padding-left 0

  li
    :margin 3px 3px

span.label_badge
  :border-width 10px 5px 5px 25px
  :border-style solid
  :display inline-block
  :width 8em
  :padding 2px

span.label_badge.inactive
  :border-color #CCCCCC
  :background #CCCCCC

  a
    :color #555555

ul.label-indices
  :list-style none

  li
    :margin 3px 10px
    :float left

table.input
  ul.label-indices
    :padding-left 1em
    li
      :clear both
      :font-size = !small_font_size
      :margin 0
      span.label_badge
        :width 15em

div.app-layout
  :margin-left 5%
  :font-size 18px

  form
    div.fieldWithErrors
      :display inline

    div > label
      :font-weight bold
    ul.radios
      :list-style none
      :padding-left 10px

    input[type=text], input[type=submit], textarea, input.input_submit, input.input_text
      :font-size = !modern_page_font_size
      :margin 5px 10px

    input[type=text], input.input_text, textarea
      :border 1px solid gray
      :padding 1px

    input[type=submit], input.input_submit
      :font-weight bold

div.note
  :position relative
  :font-size = !modern_page_font_size

  h3
    :font-size 1.3em
    :text-decoration underline

    span
      :font-size = !small_font_size
      :margin auto 2px

  dl
    dt
      :font-size 1.1em
      :margin 2px
      :font-weight bold
    dd
      :margin-left 8em

  ul.users
    li
      :margin auto 5px

.index
  .query
    :margin 2em auto
    :width  70%
    :background #eeeeee
    :_margin-left 20%

  .query a.op
    :float right
    :font-size = !small_font_size

  .query form
    :clear right
    dt, input[type=text], input.input_text
      :font-size 13px

    div.commit
      :float right

span.help, span.operation
  :font-size = !small_font_size
  :color #333366

div.page, div.history
  :position relative
  :border-top 1px solid silver

  div.rendered
    :color #555555
    :font-size 13px

  h1, h2, h3
    :margin auto 10px

  form
    :padding-bottom 1em
    :font-size 13px
    :padding-bottom 1em

    table.input
      :width 90%

    div.content
      :width 99%

    dt
      :font-size 1.3em
      :font-weight bold
      :margin 10px auto
    dd
      :margin-left 10px
      :width 80%

    .submit
      :float right
      :margin-right 10%

div.labels-form
  :position absolute
  :display none
  :left 20%
  :width 600px
  :background white
  :border 2px solid silver
  :z-index 1
  :padding 5px
  table.label-indices
    :width 90%
    :margin auto
    td span, td form input[type=submit]
      :font-size 10px

div.labels-form, div.labels
  ul.errors
    :border 1px solid red
    :color red
    :font-size 0.8em
    :width 80%
    :margin 1em auto

    li
      :padding 3px auto 3px 3px

div.label-navigation
  :background white
  :width 19%
  :height 100%
  :border 1px solid silver
  :float left

  h2
  div.label
    :border-top 1px solid silver
    :border-bottom 1px solid silver

    h3
      :margin 0
      :width 95%
      :padding 5px 0 5px 5%
      :border-bottm 1px solid silver

    div
      ul.pages li
        :margin 5px auto

.user-bar
  ul.float
    :margin-top 1em
    :height 11px
    :float right

    li.bar-item
      :font-size = !small_font_size
      :margin 2px 10px
      :border-bottom 1px solid gray
      :height 2em

    li.search-pages form
      :padding-bottom 0
      :font-size = !small_font_size

div.login form
  :width 350px

div.hint
  :border 1px dashed #0080FF
  :margin 1em 1em

  p
    :font-size = !small_font_size
    :margin 10px 1em

.login

  .welcome
    :width 60%
    :float left

    div.image
      :width 94%
      :height 360px
      :overflow hidden
      :margin auto 3%

  .form
    :margin-left 60%
    :width 35%

    input
      :font-size 1.5em

    input#openid_url
      :background-color white
      :background-repeat no-repeat
      :background-attachment scroll
      :background-position 0 50%
      :padding 2px 2px 2px 18px
      :width 20em
      :border 1px solid gray

    input[type=submit]
      :margin-left 60%

div.caption
  :font-weight bold
  :color #34beed
  :font-size 14px
  :margin 10px 0 5px 10px

  span.title
    :color #9c9c9c
    :font-size 32px
    :margin-right 20px

  a.wii_button
    :margin-bottom 5px

#portal
  :width 49%
  :margin 0
  :float left

  #updated-note table, #updated-page table
    :width 90%
    td.description, td.date, td.page
      :font-size = !small_font_size

#mypage
  :width 49%
  :_width 100%
  :margin-left 50%

  ul.accessible-notes
    :list-style none
    :padding-left 2em
    :width 100%
    li
      :margin-bottom 5px
      :border-bottom 1px solid silver

      span.display_name
        :font-size = !modern_page_font_size

table.notes-index, table.pages-index
  :width 90%

  td.history
    :font-size = !small_font_size
    :text-align center

  td.name
    a
      :font-size 18px
    span.url
      :color gray
      :font-size = !small_font_size
      :margin-left 1em
      :padding-left 18px
      :background-image url("../images/icons/arrow_right.png")
      :background-repeat no-repeat

  td.label
    :width 60px
    :background #ccc

    span
      :background #eee
      :font-size = !small_font_size

  th.published
    :width 12em
  td.published, td.notyet

  td.publication
    :text-align center
    span
      :font-size = !small_font_size
      :background-repeat no-repeat
      :padding 2px 0 2px 18px
    span.published
      :background-image url("../images/icons/star.png")
    span.not_yet

#wiki_action
  :clear left
  :margin 5px auto
  //:height: 1%;
  :width = !wizard_width + px

  .navigation
    :text-align center
    :margin-top 1em

    button
      :font-size = !modern_page_font_size
      :margin 0 10px

  h3
    :font-size x-large
    :font-weight bold
    :color gray
    :background-color #eee
    :margin 5px 3px
    :padding 3px 0;0

  div.topic
    :font-size large
    :color green
    :margin-left 3px

  div.input_form
    :margin-top 10px

  div.confirm
    input[type=submit]
      :font-size = !modern_page_font_size

    table.confirmation
      :width  60%
      th
        :width 30%
      td
        :width 70%

  div.example
    :font-size 12px
    :font-weight normal
    :margin-top 10px
    :margin-left 5px
    :border 2px dotted #99f
    :color #666
    :padding 5px

    b
      :color #66f

    div.line
      :margin 4px 5px
      :padding 0
      :font-size 12px
      :font-weight normal

    ul
      :margin 5px 0 0 auto

      li
        :color #66f

      ul.sub
        :margin-top 0
        :margin-bottom 5px

        li
          :font-weight normal
          :color #666

  ul.wizard-nav
    :list-style none
    :padding 0
    :margin 0 auto

    li
      :float left
      :margin auto 1px
      :padding 5px
      :border  3px #999999 solid
      // FIXME
      // (1 + 5 + 3) means (margin + padding + border)
      :width  = (!wizard_width / !wizard_steps - (1 + 5 + 3) * 2) + px
      :height 60px
      :font-size 12px
      :text-align center

    li.current
      :border 3px #0080FF solid
      :background #88D0FF

    li.finished
      :border 3px #0080FF solid
      :background #CCDFFF

  table
    :margin 2em
    th
      :border 0
    td input
      :font-size = !modern_page_font_size

#linkPalette.enabled
  :z-index 1
  :position absolute
  :background #ffffff
  :width 500px
  :border 2px solid #9999cc

  h3 span
    :font-size = !small_font_size
    :margin-left 5em

  .palette
    :overflow auto
    :height 300px

  span.insertLink
    :font-size = !small_font_size
    :color blue

  div.palette table
    :width 95%
    :margin 0 auto
    td.name, td.insert
      :text-align center
    td.name
      :width 200px
    td.insert
      :width 6em

ul.float
  :list-style none
  li
    :float left

table.group-users
  :margin 1em

  td.identity_url
    :font-size = !small_font_size
    :color gray

a.back
  :color #3333aa
  :font-size small

table.label-indices
  :margin-left 1em

  td
    :font-size 12px
  td.inplace-edit
    :width 370px

    div span.op
      :color #0080FF

    div.show
      span.label_badge
        :width 200px
      span.op
        :margin-left 1em
    div.edit
      input
        :margin 0
      input[type=text]
        :font-size 16px
        :padding-left 0.2em
      input[type=submit]
        :font-size = !small_font_size

table
  :border-collapse collapse
  tr
    th
      :font-weight bold
      :font-size   = !small_font_size
      :background  #cccccc
      :text-align  center
    td
      :font-size = !modern_page_font_size
      :border-bottom 1px solid #ddddff
      :height 1.8em

    th.timestamp, td.timestamp
      :font-size 10px
      :text-align center
      :width 10em

    th.clippy, td.clippy
      :width 110px
      object
        :margin 0

table.input
  :margin 1em auto
  :border-collapse separate
  tr
    :margin-bottom 1px
  th, td
    :font-size = !modern_page_font_size
  th
    :text-align center
  td
    :padding-left 1em
    .fieldWithErrors
      :display inline
    input[type=text], select, input.input_text
      :font-size = !modern_page_font_size

input[type=text].datepicker
  :text-align right

p.no-result
  :font-size = !modern_page_font_size
  :color #66aa66
  :width 80%
  :margin 1em auto
  :text-align center

.toolbar
  :border-bottom silver 1px solid

body#fckedit
  :width 99%

div.pagination
  :margin 2em auto
  :width 90%
  :text-align center
  :font-size = !modern_page_font_size

p.history-info
  :border 1px solid #ccccff
  :background #eeeeff
  :padding 5px
  :border 1px solid blue
  :margin 5px auto
  :width 95%

.explain
  :color gray
  span
    :margin 0
  span.key
    :color brack
  span.val
    :color #00cccc

.attachments
  table
    td.content_type
      :width 8em
      :font-size = !small_font_size
    td.name, td.display_name
      :width 10em
    td.size
      :text-align right

.attachment.upload
  iframe
    :border 0
    :overflow hidden
    :width 100%
    :height 100%
  div.form
    :width 100%
    :height 5em
  div.target
    :width 0
    :height 0

#linkPalette .attachment.upload div.form
  :height 5em

