!side_width = 200px
!content_margin = 210px
!modern_page_font_size = 16px
!small_font_size = 10px

body
  :font-size 13px
  :font-family Verdana,Arial,sans-serif
  :width 100%
  :padding-bottom 1em

  div#top
    ul
      :float right
      li
        :margin auto 5px

  *
    :margin auto auto

  h1, h2, h3
    :margin 0.5em 10px

  pre
    :font-family monospace
    :background #CCFFFF
    :padding 10px
    :border 1px dashed gray

.caption
  a.wii_button
    :margin-bottom 5px

#logo
  h1
    :margin auto 3px auto 3px

#services
  :float right
  :border none
  :background-color #dfecf5
  :margin 0
  :padding 0 0 2px 5px
  :font-size 12px
  a
    :color blue
    :text-decoration none
    :padding 0 5px 2px 5px
  a:hover
    :color blue
    :background-color yellow
  img
    :vertical-align middle

#select_my_note
  :position relative
  :height 1.2em

  ul
    :list-style none
    :position absolute
    :z-index 1
    :right 1em

    li
      :margin auto 5px
      :float left
      :background #ddddff

#side-menu
  :width = side_width
  :float left
  :margin auto 10px auto 5px

  div.menu-item
    :margin-bottom 10px

    ul
      :list-style none
      :margin-left 1em
      :padding 0

      ul.submenu li
        :list-style disc
        :margin 2px 5px auto auto
        :font-size 1em

#content
  :color gray

  .user
    :margin-left = !content_margin

    dt
      :font-size 1.2em
      :border-bottom 1px solid gray
      :width 40%

    dd
      :font-size 1.5em
      :margin-left 2em
      :margin-bottom 10px

  .memberships
    :margin-left = !content_margin

#footer
  :text-align center
  :color #A9A9A9
  :overflow hidden
  :width 100%
  :height 50pt
  :position relative
  :border-top silver 1px solid

  .info
    :margin auto
    :padding 5px 200px 0 200px
    :width 50em

    .first
      :border-bottom 1px dashed silver
      :padding-bottom 4px

      ul
        :list-style none
        li
          :float left

    .second
      :padding-top 5px

  div.powerd_by
    :position absolute
    :right 0
    :top 0

.typed-group
  :font-size 1.2em
  :margin-bottom 1em

  table
    :font-size 1.3em
    :margin-top 10px
    :margin-bottom 10px

    tr.odd
      :background #dddddd

    td
      :border 1px solid gray
      :border-right 2px solid gray
      :border-bottom 2px solid gray

  .warn
    :color #ff9999

.history-contents
  :width 800px
  :margin 1em 0

  .from, .to
    :border 1px solid gray
    :width 49%

    *
      :margin auto

  .from
    :float left

  .to
    :margin-left 51%

table.diff
  :border 1px solid gray
  :border-collapse collapse

  tr.removed
    :background #FFBBBB
  tr.modified
    :background #BBFFBB
  tr.added
    :background #99FF99

  tr
    td
      :border 1px solid #CCCCCC

    th
      :background #DDDDDD
      :border-bottom 1px solid gray

    th.symbol, td.symbol, th.num, td.num
      :font-family monospace
      :font-size = !small_font_size

    th.symbol, td.symbol
      :width 1em
      :text-align center

    th.num, td.num
      :width 30px

    th.num
      :text-align center

    td.num
      :text-align right
      :vertical-align top
      :padding 2px
      :color #555
      :border-right 1px solid #ccc
      :border-bottom 1px solid #ddd

    td.text
      :width 350px
      :font-size 12px

table.histories
  tr
    th.description
      :width 350px
    td.revision
      :width 10em
      :font-size = !small_font_size

ul.label-badges
  :list-style none
  :padding-left 0

  li
    :margin 3px 3px

span.label_badge
  :border-width 10px 5px 5px 25px
  :border-style solid
  :display inline-block
  :width 8em
  :padding 2px

span.label_badge.inactive
  :border-color #CCCCCC
  :background #CCCCCC

  a
    :color #555555

ul.label-indices
  :list-style none

  li
    :margin 3px 10px
    :float left

div.tab
  :height 2.5em

  ul.navi-tab
    :float right
    :margin 0 auto

    li ul
      :padding 0 5px

      li
        :text-align center
        :font-size = !small_font_size
        :height 1.5em
        :padding 1px 1em
        :margin 1px
        :border-width 1px
        :border-style solid

    li.page-navi ul
      li
        :border-color #0080FF
        a
          :color #0080FF

      li.current
        :background #99DDFF
        :color black

    li.pages-navi ul
      li
        :border-color #00A0A0
        a
          :color #00AAAA

      li.current
        :background #9EE
        :color black

    li.note-navi ul
      li
        :border-color #00FF80
        a
          :color #008000
      li.current
        :background #99FFC0
        :color black

div.app-layout
  :margin-left 5%
  :font-size 18px

  form
    div.fieldWithErrors
      :display inline

    div > label
      :font-weight bold
    ul.radios
      :list-style none
      :padding-left 10px

    input[type=text], input[type=submit], textarea
      :font-size = !modern_page_font_size
      :margin 5px 10px

    input[type=text], textarea
      :border 1px solid gray
      :padding 1px

    input[type=submit]
      :font-weight bold

div.note
  :position relative
  :font-size = !modern_page_font_size

  h3
    :font-size 1.3em
    :text-decoration underline

    span
      :font-size = !small_font_size
      :margin auto 2px

  .explain
    :color gray
    span
      :margin 0
    span.key
      :color brack
    span.val
      :color #00cccc
  dl
    dt
      :font-size 1.1em
      :margin 2px
      :font-weight bold
    dd
      :margin-left 8em

  ul.users
    li
      :margin auto 5px

.index
  .query
    :margin 2em auto
    :width  70%
    :background #eeeeee

  .query > a
    :float right
    :font-size = !small_font_size

  .query > form
    :clear right
    dt, input[type=text]
      :font-size 13px

    div.commit
      :float right

span.help, span.operation
  :font-size = !small_font_size
  :color #333366

div.page, div.history
  :position relative

  div.rendered
    :color #555555
    :font-size 13px

  form
    :padding-bottom 1em
    :font-size 13px
    :padding-bottom 1em

    dd.content
      :width 99%
    dt
      :font-size 1.3em
      :font-weight bold
      :margin 10px auto
    dd
      :margin-left 10px
      :width 80%

  div.page-label-indices
    :position absolute
    :left 72%

    h2
      :font-size 1.5em
      :margin-bottom 1em

.user-bar
  > ul
    :height 11px
    :float right
    :margin 1em

    li.bar-item
      :font-size = !small_font_size
      :margin 2px 10px
      :border-bottom 1px solid gray
      :height 2em

    li.search-pages form
      :padding-bottom 0
      :font-size = !small_font_size

    li.navigate-in-label
      span.label_badge
        :border-width 2px 1px 1px 10px
        :border-style solid
        :display inline-block
        :width 8em
      ul
        :padding-left 0
        li
          :padding 1px

      div.move-to-label
        :z-index 3
        :position absolute
        :top 3em
        :background white
        :border 1px solid gray
        :margin-right 5%

        ul
          :margin-top 1em
          :padding 5px
          :list-style none
          li
            :padding 1px 0

div.hint
  :border 1px dashed #0080FF
  :margin 1em 1em

  p
    :font-size = !small_font_size
    :margin 10px 1em

.login

  .welcome
    :width 60%
    :float left

    div.image
      :width 94%
      :height 360px
      :overflow hidden
      :margin auto 3%

  .form
    :margin-left 60%
    :width 35%

    input
      :font-size 1.5em

    input#openid_url
      :background-color white
      :background-repeat no-repeat
      :background-attachment scroll
      :background-position 0 50%
      :padding 2px 2px 2px 18px
      :width 20em
      :border 1px solid gray

    input[type=submit]
      :margin-left 60%

div.caption
  :font-weight bold
  :color #34beed
  :font-size 14px
  :margin 10px 0 5px 10px

  span.title
    :color #9c9c9c
    :font-size 32px
    :margin-right 20px

  a.wii_button
    :margin-bottom 5px

#portal
  :width 49%
  :margin 0
  :float left

  #updated-note table, #updated-page table
    :width 90%
    td.description, td.date, td.page
      :font-size = !small_font_size

#mypage
  :width 49%
  :margin-left 50%

  ul.accessible-notes
    :list-style none
    :padding-left 2em
    li
      :margin-bottom 5px
      :border-bottom 1px solid silver

      span.display_name
        :font-size = !modern_page_font_size

table.notes-index, table.pages-index
  :width 90%

  td.history
    :font-size = !small_font_size
    :text-align center

  td.name
    a
      :font-size 18px
    span.url
      :color gray
      :font-size = !small_font_size
      :margin-left 1em
      :padding-left 18px
      :background-image url("../images/icons/arrow_right.png")
      :background-repeat no-repeat

  td.label
    :width 60px
    :background #ccc

    span
      :background #eee
      :font-size = !small_font_size

  th.published
    :width 12em
  td.published, td.notyet

  td.publification
    :text-align center
    span
      :font-size = !small_font_size
      :background-repeat no-repeat
      :padding 2px 0 2px 18px
    span.published
      :background-image url("../images/icons/star.png")
    span.not_yet

#wiki_action
  :clear left
  :margin 5px 10px
  :margin-left 10%
  //:height: 1%;
  :width 80%

  h3
    :font-size x-large
    :font-weight bold
    :color gray
    :background-color #eee
    :margin 5px 3px
    :padding 3px 0;0

  div.topic
    :font-size large
    :color green
    :margin-left 3px

  div.input_form
    :margin-top 10px

  div.example
    :font-size 12px
    :font-weight normal
    :margin-top 10px
    :margin-left 5px
    :border 2px dotted #99f
    :color #666
    :padding 5px

    b
      :color #66f

    div.line
      :margin 4px 5px
      :padding 0
      :font-size 12px
      :font-weight normal

    ul
      :margin 5px 0 0 auto

      li
        :color #66f

      ul.sub
        :margin-top 0
        :margin-bottom 5px

        li
          :font-weight normal
          :color #666

  ul.wizard-nav
    :list-style none
    :padding 0

    li
      :float left
      :padding 0.5em
      :width  8em
      :height 2em
      :border 3px #999999 solid
      :margin auto 1px

    li.current
      :border 3px #0080FF solid
      :background #88D0FF

    li.finished
      :border 3px #0080FF solid
      :background #CCDFFF

  table
    :margin 2em
    th
      :border 0

#linkPalette.enabled
  :z-index 1
  :position absolute
  :background #ffffff
  :width 400px
  :border 2px solid #9999cc

  h3 span
    :font-size = !small_font_size
    :margin-left 5em

  .palette
    :overflow auto
    :height 200px

  span.insertLink
    :font-size = !small_font_size
    :color blue

.note-info
  :margin-left 20px
  :float left
  p
    :margin 0 auto
    :padding 0
  a
    :font-size 2em
  span
    :font-size 0.8em

.labeled-field
  :border 1px solid silver
  :color rgb(153, 153, 153)
  :font-size 13px

.focus
  :color #000000

ul.float
  :list-style none
  li
    :float left

#flash_message
  :position absolute
  :top 3px
  :width 100%
  :zindex 3

  div
    :width 50%
    :margin auto
    :text-align center
    :font-size 12px
    :border-width 2px
    :border-style solid

    h3
      :width 100%
      span
        :position static
        :font-size = !small_font_size
        :margin-left 20px
        :right 15px
        :top 15px

  div.warn
    :border-color orange
    :background-color yellow
  div.notice
    :border-color limegreen
    :background-color palegreen
  div.error
    :border-color red
    :background-color pink

table.group-users
  :margin 1em

  td.identity_url
    :font-size = !small_font_size
    :color gray

a.back
  :color #3333aa
  :font-size small

table.label-indices
  :margin-left 1em

  td
    :font-size 12px
  td.inplace-edit
    :width 300px
    div span.op
      :color #0080FF

    div.show
      span.label_badge
        :width 120px
      span.op
        :margin-left 20px
    div.edit
      input
        :margin 0
      input[type=text]
        :font-size 12px
        :padding-left 0.5em
      input[type=submit]
        :font-size = !small_font_size

table
  :border-collapse collapse
  tr
    th
      :font-weight bold
      :font-size   = !small_font_size
      :background  #cccccc
      :text-align  center
    td
      :font-size = !modern_page_font_size
      :border-bottom 1px solid #ddddff
      :height 1.8em

    th.timestamp, td.timestamp
      :font-size 10px
      :text-align center
      :width 10em

p.no-result
  :font-size = !modern_page_font_size
  :color #66aa66
  :width 80%
  :margin 1em auto
  :text-align center

.toolbar
  :border-bottom silver 1px solid

body#fckedit
  :width 99%

div.pagination
  :margin 2em auto
  :width 90%
  :text-align center
  :font-size = !modern_page_font_size

