div#header {
  display: none;
}
div#sidebar {
  display: none;
}
div#header {
  display: none;
}
div#top {
  display: none;
}
div#footer {
  display: none;
}
div#debug_info {
  display: none;
}
div#statusbar {
  display: none;
}
div#wiki_user_ctl {
  display: none;
}
div#main {
  margin-top: 3px;
}