div.contents {
  margin-right: 1px;
  border-top: 1px dotted silver;
  padding: 10px;
}
div.contents div.contents_left {
  width: 49%;
  float: left;
  padding: 2px;
  margin-right: 3px;
}
div.contents div.contents_right {
  width: 49%;
  float: left;
  padding: 2px;
  margin-left: 3px;
}
div.item_box {
  width: 100%;
  margin-bottom: 30px;
}
div.item_box h2 {
  font-size: 14px;
  background-color: #fafafa;
  color: #23f;
  font-weight: bold;
  border-top: 1px solid #77f;
  border-bottom: 1px solid #77f;
  margin-bottom: 1px;
  padding: 7px 5px 6px 0px;
}
div.item_box h2 span.wiki_type {
  font-size: 12px;
  color: gray;
  margin-left: 10px;
}
div.item_box h3 {
  font-size: 10px;
  background-color: #eee;
  color: gray;
  font-weight: bold;
  margin-top: 10px;
  padding: 1px 5px;
  position: relative;
}
div.item_box div.search {
  font-weight: normal;
  text-align: right;
  margin-top: 3px;
  font-size: 10px;
}
div.item_box div.item_line {
  font-size: 12px;
  padding: 6px 0 6px 9px;
  border-bottom: 1px dotted silver;
}
div.item_box div.mark {
  float:left;
  width:8px;
  margin-right:4px;
}
span.public {
  color: brown;
}
span.private {
  color: gray;
}
