a.wii_button, span.wii_button, del.wii_button{

        display:-moz-inline-box;
        display:inline-block;
        cursor:pointer;
        border:none;

        /*
        for Safari, read this first
        http://creativebits.org/webdev/safari_background_repeat_bug_fix
        */

        background:url(./../images/btn0.png) no-repeat;

        height:30px;
        text-decoration:none;
        color:#2e523b;
        font-style:normal;
        margin:0 6px 0px 0;
        padding:0 10px 0 0;
        vertical-align:middle;


        zoom:1;



        _position:relative;
        _width:10px;
        _overflow-y:hidden;
}





a.wii_button span, span.wii_button button, span.wii_button input, del.wii_button span{

        font-weight:normal;
        white-space:nowrap;
        cursor:pointer;

        display:-moz-inline-box;
        display:inline-block;
        font:12px/1 Arial;
        background:url(./../images/btn0.png) 100% 0 no-repeat;
        height:30px;
        padding:8px 10px 0 0;
        margin:0 -16px 0 10px;
        border:none;
        vertical-align:text-top;

        zoom:1;
        _position:relative;
        _padding-right:12px;
        _margin-right:-10px;
        _display:block;
        _top:0;
        _right:-5px;

}

del.wii_button{
        cursor:not-allowed;
        background-position:0 -120px;
        color:#888;
}
del.wii_button span{
        cursor:default;
        background-position:100% -120px;
}


span.wii_button button, span.wii_button input{
        padding-top:0px;
        line-height:2.5;/*Opera need this*/
}


/** optional **/
/*
a.wii_button:visited{
        color:#aaa;
}
*/


/*Hover Style*/

a.wii_button:hover, span.wii_button:hover,
span.wii_button-behavior-hover{
        background-position:0 -60px;
        color:#222;
        text-decoration:none;
}





a.wii_button:hover span, span.wii_button:hover wii_button,
span.wii_button-behavior-hover wii_button, span.wii_button-behavior-hover input{
        background-position:100% -60px;
}


a.wii_button:active, a.wii_button:focus span{
        color:#3366FF;
}




del.wii_button-behavior-hover, del.wii_button:hover{
        background-position:0 -180px;
        cursor:not-allowed;
}


del.wii_button-behavior-hover span, del.wii_button:hover span{
        background-position:100% -180px;
        cursor:not-allowed;

}




/*Optional hack for IE6 to simulate :hover selector*/

span.wii_button button, del.wii_button span, span.wii_button input{



        _behavior:expression(
                (function(el){

                        if( typeof( behavior_onMouseEnter) == 'undefined'){


                                behavior_onMouseEnter = function(el){

                                        var dEl = this.parentNode;
                                        var sClass = dEl.className ;
                                        dEl.__defaultClassName = sClass ;
                                        dEl.className = sClass + ' wii_button-behavior-hover';
                                        this.setCapture();
                                };

                                behavior_onMouseLeave = function(el) {
                                        var dEl = this.parentNode;
                                        dEl.className = dEl.__defaultClassName ;
                                        dEl.__defaultClassName = undefined;
                                        this.releaseCapture();
                                };


                        };


                        el.runtimeStyle.behavior = 'none';
                        el.onmouseenter = behavior_onMouseEnter;
                        el.onmouseleave = behavior_onMouseLeave;


                })(this));




}