div.title {
  margin: 3px 0 7px 0;
  padding: 2px;
  font-size:14px;
  background-color:
  #eee;color: #55f;
  font-weight: bold;
  border-top: 1px solid #99f;
  border-bottom: 1px solid #99f;
}
div#history_box {
  margin-top: 10px;
  font-size: 12px;
}
div#history_box div.item {
  margin-bottom: 5px;
  border-bottom: 1px dotted silver;
}
div#history_box p.revision a {
  font-size: 14px;
  color: brown;
  font-weight: bold;
  margin: 0 0 5px 0;
}
div.item span.date {
  font-weight: normal;
  font-size: 10px;
  color: gray;
  margin: 0 0 0 3px;
}
div.item div.log {
  font-weight: normal;
  font-size: 10px;
  color: gray;
  margin: 3px 0 3px 20px;
}
div.item span.author {
  font-size: 10px;
  color: #48f;
}
/**
 * Common code display
 */

table tr td.line-numbers {
  text-align: right;
  vertical-align: top;
  background: #eee;
  color: #555;
  font-size: 10px;
  padding: 2px;
  width: 35px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
}
table tr td.code {
  width: 95%;
  padding-left: 10px;
  white-space: pre;
  background: #fff;
  font: 100%/110%  "Courier New", Courier, monaco, monospace;
}

/**
 * Code Diff tables
 */

table.codediff {
  border: 1px solid #ccc;
  width: _98%;
  border-collapse: collapse;
}
table.codediff td.line-num-cut {
  background: #ccc;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
table.codediff thead td.line-numbers, table.codediff thead { background: #ddd; }
table.codediff td.code { padding-left: 2px; }
table.codediff td.cut-line {
  background: #eee;
  border-top: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;
}

del { background: #fbb; text-decoration: none; }
ins { background: #afa; text-decoration: none; }
table.codediff td.del { background: #fdd; }
table.codediff td.ins { background: #dfd; }
