@import url(./item.css);

/* --------- page --------- */
div#container {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

div#container div#group_contents {
  position: relative;
}

div#container div#contents_right {
  margin-left: 0px;
}
/* -- only IE6 holly hack -- */
* html div#container div#contents_right {
  height: 1%;
}
/* ------------------------- */
div.revision {
  font-size: 14px;
  color: brown;
  font-weight: bold;
  margin: 0 0 5px 0;
  width: 100%;
  padding: 2px;
  border-bottom: 5px solid #fdd;
}
p.revision a {
  font-size: 14px;
  color: brown;
  font-weight: bold;
}
a.file_info {
  pointer: cursor;
  margin-left: 5px;
  font-size: 10px;
  color: #f66;
}
span.tooltip_box a:hover {
  cursor: pointer;
  text-decoration: underline;
}
/* ----- page_tree ----- */
div#list_container {
  width: _100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  padding-top: 5px;
}
div#pages_menu_box {
  width: 180px;
  height: 140px;
  border: 1px solid silver;
  margin: 3px 5px 7px 5px;
  float: right;
}
div#menu_page_title {
  font-size: 14px;
  font-weight: bold;
  height: 22px;
  padding: 2px 0 1px 3px;
  color: #49f;
  margin-bottom: 5px;
  border-bottom: 1px dotted silver;
  background-color: #eef;
}
div#pages_menu_box div#tree_menus {
  font-size: 12px;
  padding: 2px 4px;
}
div#pages_menu_box div.menus p {
  margin: 3px 0;
}
div#list_container  h4 {
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 2px;
  margin: 5px 0 10px 5px;
  border-bottom: 1px dotted silver;
}
div.path_tree {
  margin-right: 0px;
  margin-bottom: 10px;
}
div.path_box {
  font-size: 12px;
  padding: 2px 2px 0 2px;
  margin: 0px 5px 0px 5px;
}
div.path_box a {
  padding-left: 5px;
  text-decoration: none;
}
div.path_box a:hover {
  text-decoration: underline;
  color: brown;
}
div.path_item_box {
  padding: 2px 0;
  width: 100%;
  position: relative;
  border-bottom: 1px dotted silver;
}
div.path_item_box:hover {
  background-color: #ffb;
}
span.page_name {
  font-size: 10px;
  color: gray;
}
div.new_direcotry {
  margin: 5px 0 0 20px;
  display: none;
}
div.path_box span.message {
  font-size: 10px;
  color: brown;
}
div.path_box div.last_update_info {
  position: absolute;
  bottom: 1px;
  right: 3px;
  text-align:right;
  color:silver;
  font-size:9px;
}
/* ------------- page ------------- */
div#page_menu {
  position: absolute;
  z-index: 2;
  right: 10px;
}
/* -- only IE6 holly hack -- */
* html div#page_menu {
  right:15px;
}
/* ------------------------- */
div.last_update_info {
  text-align:right;
  color:gray;
  font-size:10px;
}
/* ------- edit ------- */
div.input_area {
  padding: 10px;
}

/* ------- search_box ------- */
span.inside_wiki_search form {
  display: inline;
}
span.inside_wiki_search input {
  color: #000;
}
span.inside_wiki_search input.text {
  margin-right: 5px;
  width: 150px;
}
/* ------- div#menu_*** search_box ------- */
div#menu_left span.inside_wiki_search input {
  font-size: 10px;
}
div#menu_left span.inside_wiki_search input.text, div#menu_right span.inside_wiki_search input.text {
  margin-left: 2px;
  margin-right: 5px;
  width: 100px;
}
/*------- hiki customize ------- */
div#container div#group_contents ul {
 margin-left: 15px;
}
div#container div#group_contents ol {
 margin-left: 30px;
}