div#contents_container {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  margin: 10px 0;
}
div.contents {
  margin: 5px;
  padding: 5px;
}
/* ----- search ----- */
div.contents div.search_form {
  border: 1px dotted silver;
  padding: 5px;
  margin-bottom: 20px;
}
div.search_form div.check_box_area {
  padding:1px;
  margin-top:5px;
}
div.search_form table {
  border-collapse: separate;
}
div.search_form table td {
  width: 120px;
}
div.search_form table td.title {
  color: gray;
  font-weight: bold;
  background-color: #eee;
  width: 80px;
  text-align: center;
}
div.wiki_space {
  border: 1px solid silver;
  width: 95%;
  margin: 5px auto;
  text-align: left;
  position: relative;
  font-size: 10px;
}
div.wiki_space div.wiki_line {
  margin: 1px 0;
  border-bottom: 1px dashed silver;
  padding: 1px;
}

/* ----- new_wiki ---- */
div#wiki_flow {
  position: absolute;
  float: left;
  width: 150px;
  border: 1px solid silver;
  padding: 5px;
  margin: 5px;
}
/* ----- ここは対処療法的なので後で直す ---- */
*html body div#wiki_flow {
  float: left;
  position: absolute;
  width: 150px;
  border: 1px solid silver;
  padding: 5px;
  margin: 5px;
  margin-left: -165px;
}
div#wiki_flow div.menu_item {
  color: gray;
}
div.input_form table {
  margin: 5px;
  border: 1px dotted silver;
}
div.input_form table td {
  padding: 3px;
}
div.input_form select {
  font-size: 11px;
}
