%ul.float
  %li.bar-item.page-index
    = link_to(_("note pages"), note_pages_path(current_note))

  - if current_note.list_attachments || current_user.page_editable?(current_note)
    %li.bar-item.attachments
      = link_to(_("note attachments"), note_attachments_path(current_note))

  %li.bar_item
    #system_contents= image_tag "skip/indicator.gif"

