- from_palette = ajax_upload? && params[:ajax_upload] == IframeUploader::FROM_PALETTE
%table.upload-form.input{:class => (from_palette ? "palette" : "")}
  %tr
    %th.file= f.label :uploaded_data, _("Attachment|Upload Data")
    %td.file= f.file_field :uploaded_data, :size => 32
    %td= submit_tag(_("Upload"), :class => "input_submit")
    %td.indicator= image_tag("skip/indicator.gif", {:style=>"display:none"})
  %tr
.clear
