- html_options = {:multipart => true}
- if ajax_upload?
  - url = note_attachments_url(current_note, params.slice(IframeUploader::UPLOAD_KEY))
  - html_options[:target] = IframeUploader::UPLOAD_KEY

- else
  %h2&= _("Attach file(s)")

- form_for(:attachment, :url=> url, :html=>html_options) do |f|
  = render :partial => 'form', :locals => {:f => f}
  - unless ajax_upload?
    = submit_tag h(_"Upload")

