#content
  - div_for(current_note) do
    - if current_target.is_a?(Note)
      %h1&= current_note.display_name
      %p.description&= current_note.description

      .tab
        %ul.navi-tab
          - current_path = new_note_attachment_path(current_note)
          =render(:partial => "notes/navi", :locals=>{:note=>current_note, :current_path=>current_path})

