%ul.navi-tab.right-navi
  = navi_item(_("show page"), note_page_path(@page.note, @page), current_path, "page")
  = navi_item(_("edit page"), edit_note_page_path(current_note, @page), current_path, "page")
  = navi_item(_("page histories"), note_page_histories_path(current_note, @page), current_path, "page")

  =render(:partial => "notes/navi", :locals=>{:note => @page.note, :current_path=>current_path})
.clear
