#content
  - div_for(current_note) do
    .tab
      %ul.navi-tab
        - current_path = note_pages_path(current_note)
        =render(:partial => "notes/navi", :locals=>{:note => current_note, :current_path=>current_path})

    %h1&= current_note.display_name
    %p.description&= current_note.description

    .pages
      =render(:partial => "pages/pages")


