#content
  - div_for(current_note) do
    .user-bar= render :partial => 'pages/user_bar'
    - current_path = note_pages_path(current_note)
    .tab= render :partial => 'shared/edit_navi', :locals=> {:current_path => note_pages_path(current_note)}

    %h1&= current_note.display_name
    %p.description&= current_note.description

    .pages
      =render(:partial => "pages/pages")


