#content
  - div_for(@page) do
    %h1&= @page.display_name
    .tab= render :partial => 'pages/navi', :locals=> {:current_path => note_page_path(current_note, @page)}

    .rendered~ render_page_content(@page)

    .page-label-indices
      %h2&= _("LabelIndices")
      %ul
        %li= labelize(@page.label_index, true) if @page.label_index

    .clear

