production:
  skip_collabolation:
    skip_url: "http://product.skip.local"
    fulltext_search:
      endpoint:  "http://product.skip.local/search/full_text_search"
      query_name: "full_text_query"
  secret_key: "---FIXME----BEFORE---DEPLOYMENT---"

development:
  skip_collabolation:
    skip_url: "http://test.skip.local"
    fulltext_search:
      endpoint:  "http://localhost:3002/search/full_text_search"
      query_name: "full_text_query"
  secret_key: "1f3c30382d9f2060baf14f0cdb102fe2"

test:
  skip_collabolation:
    skip_url: "http://test.skip.local"
    fulltext_search:
      endpoint:  "http://localhost:3002/search/full_text_search"
      query_name: "full_text_query"
  secret_key: "1f3c30382d9f2060baf14f0cdb102fe2"

