<h1>SKIP Noteへようこそ</h1>
<p>SKIP Noteは、Web上の文書・ファイル管理ができるアプリケーションです。</p>
<p>SKIPは、コミュニケーションをベースとした<span style="background-color: Yellow;"><big>「暗黙知」</big></span>の共有が主な機能ですが、SKIP Noteは、会社全体というよりも部署やプロジェクトといった組織単位での蓄積される情報<span style="background-color: Yellow;"><big>「形式知」</big></span>の管理と共有が主な機能になります。</p>

<ul>
    <li><span style="font-size: larger;">SKIP Noteでは、利用者は、SKIP上で作成したグループやユーザを使って公開・共有の設定ができる「ノート」を作成することができます。</span></li>
    <li><span style="font-size: larger;">作成した「ノート」には、共有情報を掲載したWebページやファイルなどを挟み込むことができます。</span></li>
    <li><span style="font-size: larger;">イメージとしては、以下が近いです。</span><a href="http://www.kokuyo.co.jp/press/news/20080728-848.html" class="external"><span style="font-size: larger;">http://www.kokuyo.co.jp/press/news/20080728-848.html</span></a></li>
    <li><span style="font-size: larger;">バインダーノートをプロジェクトのメンバで共有します。<br />
    </span></li>
    <li><span style="font-size: larger;">バインダーなので、リーフレット（＝ページ）や、クリアファイル（＝ファイル）などを自由に挟み込めます。<br />
    </span></li>
    <li><span style="font-size: larger;">「ノート」に挟み込む「ページ」では、リッチテキスト形式での入力補助があります<br />
    </span></li>
    <li><span style="font-size: larger;">「ページ」は過去の履歴を差分で管理することができます。</span></li>
</ul>

