- content_for :header do
  =stylesheet_link_tag "mypage"
  =stylesheet_link_tag "admin/admin"

#contents
  .note
    - form_for(@user, :url=>{:controller => 'admin/users', :action=>'update'}) do |f|
      =f.error_messages      
      
      %dl
        %dt
          =f.label :name, _('User|Name')
        %dd
          =f.text_field :name

        %dt
          =f.label :name, _('User|Display name')
        %dd
          =f.text_field :display_name
        %dt
          =f.label :admin, _('User|Admin')
        %dd
          =f.check_box(:admin) 
          =_("This user set admin")

      %div
        = f.submit _("Update")
  
