%span.title= _("Admin menu")
%span.admin-operation= select_tag("admin_operation", admin_operation)
:javascript
  jQuery(document).ready(function(){
    $("span.admin-operation select").dropdownNavigation();
  });
