%span.title= _("Admin menu")
%span.note-operation= select_tag("note_operation", admin_operation(:entire,request.request_uri))

:javascript
  jQuery(document).ready(function(){
    $("div#current-note span.operation").click(function(){jQuery(this).nextAll("div.note-navi").toggle()});
    $("span.note-operation select").dropdownNavigation();
  });
